<!-- base.html -->
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Daniel Rivera{% endblock %}</title>

	{% comment %} text {% endcomment %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

	{% comment %} icons {% endcomment %}
	<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          

	<!-- Favicon -->
    <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
    
</head>
<body class="bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-slate-800 via-electric-violet-800 to-slate-400 scroll-smooth leading-normal tracking-normal">
    <div class="container mx-auto">
		{% block content %}
		{% endblock content %} 
    </div>
	{% block scripts %}
	{% endblock scripts %}
</body>
</html>
