{% extends 'base.html' %} {% load static %} {% load tailwind_tags %} 
{% block title %} Daniel Rivera - Blog {% endblock %} 
{% block content %}

<div class="flex items-center justify-center md:h-screen flex-row" id="container">
    <div class="md:w-[1250px] md:h-[750px]  bg-slate-800 md:overflow-auto rounded-lg  md:-translate-x-2  shadow-2xl scrollreveal" data-sr-delay="250" data-sr-origin="bottom">

        <div class="flex flex-col wrap items-center justify-center my-10  ">
            <h1 class="text-4xl font-bold text-slate-200 mb-4 items-center justify-center flex">Lista de Posts 🗒️</h1>
            <ul class="flex flex-row justify-center items-center flex-wrap gap-5 mt-4">
                {% for post in posts %}
                    <li class="bg-slate-700  rounded-lg max-w-[300px] md:max-h-[500px]  shadow-md scrollreveal" data-sr-delay="500" data-sr-origin="bottom">
                            
                            <div class=" max-w-96 ">
                                <div class="h-full  border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                                    {% if post.imagen_banner %}
                                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ post.imagen_banner.url }}" alt="Imagen de {{ post.titulo }}">
                                    {% else  %}
                                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Solid_black.svg/2048px-Solid_black.svg.png" alt="Imagen de {{ post.titulo }}">
                                    {% endif %}
                                  
                                  <div class="p-6">
                                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{post.categoria|capfirst}}</h2>
                                    <h1 class="title-font text-lg font-medium text-slate-200 mb-3">{{ post.titulo }}</h1>
                                    <p class=" mb-3 text-slate-300 ">{{post.contenido|truncatechars:50}}</p>
                                    <h4 class="mt-2 text-slate-300 pb-4">{{post.fecha_creacion}}</h4>
                                    <a href="{% url 'post_detail' post.id %}" class="text-electric-violet-500 inline-flex items-center md:mb-2 lg:mb-0 hover:underline">Learn More</a>
                                  
                                  </div>
                                </div>
                              </div>

                    </li>
                {% endfor %}
            </ul>
            <div class="mt-12 text-center md:hidden">
                <a href="{% url "home" %}" class="px-6 py-2 bg-electric-violet-500 text-white font-bold rounded-md hover:bg-electric-violet-600">Back</a>
            </div>
        </div>
    </div>
    <div class="absolute bottom-8 right-52 cursor-pointer hover:scale-110 transition-all group  scrollreveal md:block hidden " data-sr-delay="250" data-sr-origin="bottom">
        <a href="{% url "home" %}">
            <svg class="w-16 h-16 rounded-full bg-electric-violet-200 flex items-center justify-center text-electric-violet-400 transition-all hover:bg-electric-violet-400 hover:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 6v12m8-12v12l-8-6 8-6Z"/>
              </svg>
              <span
              class="absolute -top-12 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
              >Back </span>
        </a>       
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{% static 'js/typed.js' %}"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static "js/scrollreveal.js" %}"></script>
{% endblock scripts %}


