{% extends 'base.html' %} {% load static %} {% load tailwind_tags %} 
{% block title %} Daniel Rivera - Ripariav {% endblock %} 
{% block content %}
<div class="flex items-center justify-center h-screen flex-row" id="container">
  <div class="bg-slate-100 z-10 rounded-lg shadow-[-24px_-24px_0px_1px_rgba(91,_69,_96,_0.48),_4px_0_10px_rgba(0,0,0,0.3)] min-w-[30rem] scrollreveal" data-sr-delay="200" data-sr-origin="bottom" id="profile-card" >
    <div id="img-profile-card" class="relative rounded-t-lg min-h-96 bg-cover bg-center " style="background-image: url({% static 'img/photo-profile.png' %})">
    </div>
    <svg class=" -translate-y-20 z-10 min-w-[30rem] " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f1f5f9" fill-opacity="1" d="M0,160L720,224L1440,128L1440,320L720,320L0,320Z"></path></svg>
    <div id="info-profile-card" class="flex flex-col justify-center gap-y-2 ">
    <div class="flex flex-col justify-center items-center ">
      <img src="{% static "img/logo.svg" %}" alt="logo" class="bg-slate-100 shadow-lg rounded-full w-28 h-28 z-20 absolute -translate-y-28">
    </div>
    <h1 class="text-slate-800 justify-center flex text-4xl font-bold">Daniel Rivera</h1>
    <h2 id="typed-text" class="text-electric-violet-700 justify-center flex text-xl font-light min-h-8"></h2>
    <div>
      <ul id="icons-profile-card"class=" flex flex-row gap-2 m-4 items-center justify-center">
      <li id="github-icon">
        <div class="group relative">
        <a href='https://github.com/Ripariav'  target="_blank" rel="noopener noreferrer">
          <svg class="w-6 h-6 text-gray-800 hover:scale-125 cursor-pointer hover:text-purple-400 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
          </svg>
          
        </a>
        <span
          class="absolute -top-14 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
          >GitHub<span> </span
        ></span>
        </div>
      </li>
      <li id="x-icon">
        <div class="group relative">
          <a href='https://x.com/Ripariav'  target="_blank" rel="noopener noreferrer">
          <svg class="w-6 h-6 text-gray-800 hover:scale-125 cursor-pointer hover:text-purple-400 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
          </svg>
          
            
          </a>
          <span
          class="absolute -top-14 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
          >X - Twitter<span> </span
          ></span>
      </li>
      <li id="stackoverflow-icon">
        <div class="group relative">
          <a href="https://stackoverflow.com/users/15649498/riparia?tab=profile"  target="_blank" rel="noopener noreferrer">
            <svg class="w-6 h-6 text-gray-800 hover:scale-125 cursor-pointer hover:text-purple-400 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path d="M17 20v-5h2v6.988H3V15h1.98v5H17Z"/>
              <path d="m6.84 14.522 8.73 1.825.369-1.755-8.73-1.825-.369 1.755Zm1.155-4.323 8.083 3.764.739-1.617-8.083-3.787-.739 1.64Zm3.372-5.481L10.235 6.08l6.859 5.704 1.132-1.362-6.859-5.704ZM15.57 17H6.655v2h8.915v-2ZM12.861 3.111l6.193 6.415 1.414-1.415-6.43-6.177-1.177 1.177Z"/>
            </svg>
            
            
          </a>
          <span
          class="absolute -top-14 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
          >Stack Overflow<span> </span
          ></span>
      </li>
      <li id="linkedin-icon">
        <div class="group relative">
          <a href='https://www.linkedin.com/in/danielfriverav/'  target="_blank" rel="noopener noreferrer">
            <svg class="w-6 h-6 text-gray-800 hover:scale-125 cursor-pointer hover:text-purple-400 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
            </svg>
            
            
          </a>
          <span
          class="absolute -top-14 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
          >LinkedIn<span> </span
          ></span>
      </li>
      <li id="wha-icon">
        <div class="group relative">
          <a href="https://wa.me/573155943879?text=Hola!,%20Estoy%20interesando%20en%20tu%20perfil%20laboral,%20podemos%20charlar?"  target="_blank" rel="noopener noreferrer">
            <svg class="w-6 h-6 text-gray-800 hover:scale-125 cursor-pointer hover:text-purple-400 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path fill="currentColor" fill-rule="evenodd" d="M12 4a8 8 0 0 0-6.895 12.06l.569.718-.697 2.359 2.32-.648.379.243A8 8 0 1 0 12 4ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.96 9.96 0 0 1-5.016-1.347l-4.948 1.382 1.426-4.829-.006-.007-.033-.055A9.958 9.958 0 0 1 2 12Z" clip-rule="evenodd"/>
              <path fill="currentColor" d="M16.735 13.492c-.038-.018-1.497-.736-1.756-.83a1.008 1.008 0 0 0-.34-.075c-.196 0-.362.098-.49.291-.146.217-.587.732-.723.886-.018.02-.042.045-.057.045-.013 0-.239-.093-.307-.123-1.564-.68-2.751-2.313-2.914-2.589-.023-.04-.024-.057-.024-.057.005-.021.058-.074.085-.101.08-.079.166-.182.249-.283l.117-.14c.121-.14.175-.25.237-.375l.033-.066a.68.68 0 0 0-.02-.64c-.034-.069-.65-1.555-.715-1.711-.158-.377-.366-.552-.655-.552-.027 0 0 0-.112.005-.137.005-.883.104-1.213.311-.35.22-.94.924-.94 2.16 0 1.112.705 2.162 1.008 2.561l.041.06c1.161 1.695 2.608 2.951 4.074 3.537 1.412.564 2.081.63 2.461.63.16 0 .288-.013.4-.024l.072-.007c.488-.043 1.56-.599 1.804-1.276.192-.534.243-1.117.115-1.329-.088-.144-.239-.216-.43-.308Z"/>
            </svg>
            
            
          </a>
          <span
          class="absolute -top-14 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100"
          >What'sApp<span> </span
          ></span>
      </li>
      </ul>
    </div>
    <div id="buttons-profile-card" class="justify-center flex mt-6">
      <button id="down-cv-profile-card" class="px-6 border-r py-4 border-t-2 w-full rounded-bl-lg border-electric-violet-400 hover:bg-electric-violet-400 hover:text-white transition-all">Download Cv</button>
      <a href="#contact" id="contact-profile-card" class="px-6 border-l py-4 border-t-2 w-full rounded-br-lg justify-center items-center flex cursor-pointer border-electric-violet-400 hover:bg-electric-violet-400 hover:text-white transition-all">Contact Me</a>
    </div>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="py-4 z-10 absolute top-52 w-0 md:block sm:hidden scrollreveal" data-sr-delay="1800" data-sr-origin="bottom">
    <div class="space-x-6 bg-electric-violet-400 text-white p-4 rounded-lg absolute -translate-y-40 -translate-x-12 scroll-smooth flex flex-row justify-center items-center shadow-xl w-[550px]">
      <a href="#about-me" class="text-md  hover:text-black transition-all ">About</a>
      <a href="#experience" class="text-md  hover:text-black transition-all ">Experience</a>
      <a href="#projects" class="text-md  hover:text-black transition-all ">Projects</a>
      <a href="#education" class="text-lmd hover:text-black transition-all ">Education</a>
      <a href="#blog" class="text-md  hover:text-black transition-all ">Blog</a>
      <a href="#contact" class="text-md  hover:text-black transition-all ">Contact</a>
    </div>

  </nav>
  
{% comment %} ALL INFO {% endcomment %}
  <div class="w-[850px] h-[650px] bg-slate-100 overflow-auto rounded-lg   -translate-x-2  shadow-2xl scrollreveal" data-sr-delay="800" data-sr-origin="left">
    <div class="flex flex-col bg-slate-100 scroll-smooth scrollreveal" data-sr-delay="1200" data-sr-origin="left">
      <section id="about-me" class="py-16 ">
              <div class="container mx-auto flex flex-col w-11/12 items-center px-6 md:px-12 lg:px-24">
                <!-- Descripción de "About Me" -->
                <div class=" mb-10 md:pl-12 flex flex-col items-center justify-center ">
                  <h2 class="text-4xl font-bold text-gray-800 mb-4 justify-center">About Me 🚀</h2>
                  <p class="text-lg text-gray-600 leading-relaxed mb-6">
                    Hello! I'm a passionate software developer with a strong background in data analysis and web development. I enjoy creating innovative solutions and continuously learning new technologies. I'm also skilled in applying statistical and machine learning techniques to solve complex problems.
                  </p>
            
                  <!-- Lista de habilidades y tecnologías -->
                  <ul class="list-disc list-inside text-gray-600">
                    <li>Experienced in Django for backend web development.</li>
                    <li>Proficient with Tailwind CSS for responsive design.</li>
                    <li>Skilled in R for statistical analysis and data visualization.</li>
                    <li>Extensive knowledge of Python and libraries like TensorFlow and NumPy.</li>
                    <li>Strong foundation in data analysis and machine learning techniques.</li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- Experience Section -->
      <section class="text-gray-600 body-font" id="experience" class="py-16 ">
          <h2 class="text-4xl font-bold text-gray-800 mb-4 items-center justify-center flex">Experience 🌟</h2>
            <div class="flex flex-wrap flex-col items-center">
              <h2 class="font-medium title-font text-xl text-gray-900 my-2">Development technologies.</h2>
              <ul class="flex flex-row flex-wrap mt-5  gap-x-4 gap-y-2 max-w-[500px] items-center justify-center">
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 justify-around flex items-center hover:text-slate-100 hover:bg-electric-violet-400"> <i class="devicon-tailwindcss-original"></i> Tailwind </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"> <i class="devicon-django-plain"></i> Django </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"> <i class="devicon-djangorest-plain-wordmark"></i> Dj REST </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"> <i class="devicon-git-plain"></i></i> Git </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"> <i class="devicon-rstudio-plain"></i>R </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"><i class="devicon-python-plain"></i>Python </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"><i class="devicon-pandas-plain"></i>Pandas </li>
                <li class="p-2 rounded-3xl border-electric-violet-600 cursor-default border text-sm w-24 items-center flex justify-around hover:text-slate-100 hover:bg-electric-violet-400"><i class="devicon-mysql-plain-wordmark"></i>SQL </li>
              </ul>
            </div>
            <div class="container px-5 py-10 mx-auto flex flex-wrap">
              <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-electric-violet-500 text-white relative z-10 title-font font-medium text-sm">1</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                  <div class="flex-shrink-0 w-24 h-24 bg-electric-violet-100 text-electric-violet-500 rounded-full inline-flex items-center justify-center">
                    <img src="{% static "img/logo.svg" %}" alt="" class="w-16 h-16 grayscale" >
                  </div>
                  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Freelance - 2024</h2>
                    <p class="leading-relaxed">I combine expertise in data analysis, industrial engineering, and Django web development to deliver effective solutions. My work involves optimizing business processes, improving productivity, and creating scalable web applications tailored to client needs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-electric-violet-500 text-white relative z-10 title-font font-medium text-sm">2</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                  <div class="flex-shrink-0 w-24 h-24 bg-electric-violet-100 text-electric-violet-500 rounded-full inline-flex items-center justify-center overflow-hidden">
                    <img src="{% static "img/llanogas-logo.png" %}" alt="" class="w-16 h-16 invert" >
                  </div>
                  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Data Analyst and Quality Manager (Intern) - LlanoGas - 2023</h2>
                    <p class="leading-relaxed"><a href="https://www.linkedin.com/company/llanogas/?originalSubdomain=co" class="font-bold hover:text-electric-violet-300 hover:underline" target="_blank" rel="noopener noreferrer" >In LlanoGas. </a>I carried out processes through data analysis to increase productivity in the company's emergency department, leading to improvements in response times, enhanced safety in processes, and better risk management.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-electric-violet-500 text-white relative z-10 title-font font-medium text-sm">3</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                  <div class="flex-shrink-0 w-24 h-24 bg-electric-violet-100 text-electric-violet-500 rounded-full inline-flex items-center justify-center">
                    <img src="{% static "img/mejorespacio-logo.png" %}" alt="mejor espacio logo" class="w-16 h-16">
                  </div>
                  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Sales Analyst - Mejor Espacio S.A.S - 2022 to 2023</h2>
                    <p class="leading-relaxed"><a href="https://www.linkedin.com/company/mejor-espacio-sas/?originalSubdomain=co" class="font-bold hover:text-electric-violet-300 hover:underline" target="_blank" rel="noopener noreferrer" >In Mejor Espacio. </a>I worked as a sales analyst, focusing on optimizing property sales for the company while also creating processes to enhance client acquisition.</p>
                  </div>
                </div>
              </div>
              <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-electric-violet-500 text-white relative z-10 title-font font-medium text-sm">4</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                  <div class="flex-shrink-0 w-24 h-24 bg-electric-violet-100 text-electric-violet-500 rounded-full inline-flex items-center justify-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                      <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </div>
                  <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Web Dev Barbara café - 2020 to 2021</h2>
                    <p class="leading-relaxed">I was the developer of the e-commerce website for <a href="https://www.instagram.com/barbara_cafe_col/" class="font-bold hover:text-electric-violet-300 hover:underline" target="_blank" rel="noopener noreferrer">Barbara Café Col</a>, where I not only handled the creation of their landing page but also led the main development of their e-commerce platform.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
    <section id="projects" class="py-16 bg-slate-100 ">
          <div class="container px-5 py-10 mx-auto flex flex-wrap">
            <div class="w-[615px] mx-auto">
              <h2 class="text-4xl font-bold text-gray-800 mb-4 items-center justify-center flex">Projects 💼</h2>
              <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mb-4 rounded-lg shadow-lg">
                {% for proyecto in proyectos|slice:':1' %}
                <img alt="gallery" class=" rounded-lg w-full object-cover h-full object-center block brightness-75 absolute inset-0" src="{{proyecto.imagen_proyecto}}">
                <div class="text-center relative z-10  bg-gray-200 rounded-lg p-2 w-full">
                  <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">{{proyecto.nombre}}</h2>
                  <div class="flex flex-row flex-wrap gap-x-3 items-center justify-center ">
                    {% if proyecto.link_online %}
                    <a href="{{proyecto.link_online}}" class="mt-3 text-electric-violet-500 inline-flex items-center hover:text-slate-300">Web 🌐
                    </a>
                    {% endif %}
                    {% if proyecto.link_github %}
                    <a href="{{proyecto.link_github}}" class="mt-3 text-electric-violet-500 inline-flex items-center hover:text-slate-300">Git Hub <i class="devicon-github-original ml-1"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
              <ul class="flex flex-wrap -mx-2 justify-around">
                {% for proyecto in proyectos|slice:'1:3' %}
                <li class="bg-slate-200   rounded-lg w-[300px] max-h-[500px] shadow-lg ">   
                    <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative ">
                        {% if proyecto.imagen_proyecto %}
                        <img alt="gallery" class="w-full object-cover h-full object-center block brightness-75 absolute inset-0 rounded-lg" src="{{proyecto.imagen_proyecto}}">
                        {% else %}
                        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Solid_black.svg/2048px-Solid_black.svg.png" alt="Imagen de {{ proyecto.nombre }}">
                        {% endif %}
                        <div class="text-center relative z-10 w-full bg-gray-200 rounded-lg p-2 ">
                          <h2 class="text-2xl text-gray-900 font-medium title-font mb-2">{{proyecto.nombre}}</h2>
                          <div class="flex flex-row flex-wrap gap-x-3 items-center justify-center">
                            {% if proyecto.link_online %}
                            <a href="{{proyecto.link_online}}" class="mt-3 text-electric-violet-500 inline-flex items-center hover:text-slate-300">Web 🌐
                            </a>
                            {% endif %}
                            {% if proyecto.link_github %}
                            <a href="{{proyecto.link_github}}" class="mt-3 text-electric-violet-500 inline-flex items-center hover:text-slate-300">Git Hub <i class="devicon-github-original ml-1"></i>
                            </a>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                </li>
                {% endfor %}
              </ul>
              <div class="mt-12 text-center">
                <a href="{% url "projects" %}" class="px-6 py-2 bg-electric-violet-500 text-white font-bold rounded-md hover:bg-electric-violet-600">View more posts</a>
              </div>
            </div>
          </div>
         
        </section>
      
            <!-- Education Section -->
      
      <section id="education" class="py-6">
              <div class="container mx-auto flex flex-col items-center px-6 md:px-12 lg:px-24">
                <!-- Contenido de "Education" -->
                <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12">
                  <h2 class="text-4xl font-bold text-gray-800 mb-4">Education 🎓</h2>
                  <div class="space-y-6">
                    <div>
                      <h3 class="text-2xl font-semibold text-gray-800">Bachelor's Degree in Industrial Engineering</h3>
                      <p class="text-gray-600 mb-2">University Santo Tomás, 2014 - 2018</p>
                      <p class="text-lg text-gray-600 leading-relaxed">
                        Specialized in operations research, quality control, and data analysis.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12 py-10">
                  <h2 class="text-3xl font-bold text-gray-800 mb-4">Certifications 📜</h2>
                  <div class="space-y-6">
                    <!-- Certificate 1 -->
                    <div>
                      <h3 class="text-2xl font-semibold text-gray-800">Data Analytics Diploma</h3>
                      <p class="text-gray-600 mb-2">
                        Provided by MinTIC of Colombia and the Universidad Distrital Francisco José de Caldas, 50 hours
                      </p>
                      <p class="text-lg text-gray-600 leading-relaxed">
                        Verification Code: qj20YcC8s4
                      </p>
                    </div>
                
                    <!-- Certificate 2 -->
                    <div>
                      <h3 class="text-2xl font-semibold text-gray-800">Data Manipulation with Pandas Diploma</h3>
                      <p class="text-gray-600 mb-2">
                        Provided by the Virtual Educational Institution Crehana, 2 hours
                      </p>
                      <p class="text-lg text-gray-600 leading-relaxed">
                        Focused on advanced data manipulation techniques using Pandas.
                      </p>
                    </div>
                
                    <!-- Certificate 3 -->
                    <div>
                      <h3 class="text-2xl font-semibold text-gray-800">Python Fundamentals Certificate</h3>
                      <p class="text-gray-600 mb-2">
                        Provided by Platzi, 17 hours of theory and practice
                      </p>
                      <p class="text-lg text-gray-600 leading-relaxed">
                        Verification Code: 6757cc39-8fba-40d4-bcab-8bc48d7459a0
                      </p>
                    </div>
                  </div>
                </div>
                
                

              </div>
            </section>
      
            <section id="blog" class="py-6 ">
              <div class="container  py-10 ">
                <h2 class="text-4xl font-bold text-gray-800 mb-12 text-center">Blog 🗒️</h2>
                <div class="flex flex-wrap items-center justify-center ">
                  {% for post in posts|slice:':2' %}
                  
                  <div class="p-4 max-w-96 ml-2">
                    <div class="h-full border-2 border-gray-200 bg-slate-200 border-opacity-60 rounded-lg overflow-hidden">
                      {% if post.imagen_banner %}
                      <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ post.imagen_banner.url }}" alt="Imagen de {{ post.titulo }}">
                      {% else  %}
                      <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Solid_black.svg/2048px-Solid_black.svg.png" alt="Imagen de {{ post.titulo }}">
                      {% endif %}
                      <div class="p-6">
                        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">{{post.categoria|capfirst}}</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ post.titulo }}</h1>
                        <p class=" mb-3 ">{{post.contenido|truncatechars:50}}</p>
                        <h4 class="mt-2  pb-4">{{post.fecha_creacion}}</h4>
                        <a href="{% url 'post_detail' post.id %}" class="text-electric-violet-500 inline-flex items-center md:mb-2 lg:mb-0 hover:underline">Learn More</a>
                      </div>
                    </div>
                  </div>

                  {% endfor %}
                  <div class="mt-12 text-center">
                    <a href="/blog" class="px-6 py-2 bg-electric-violet-500 text-white font-bold rounded-md hover:bg-electric-violet-600">View more posts</a>
                  </div>
                </div>
              </div>
              
            </section>
            
            
        
        <!-- Contact Section -->
      
      <section id="contact" class="py-16 ">
          <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12 lg:px-24">
            <!-- Contenido de "Contact" -->
            <div class="w-full  sm:-1/4  md:pl-12">
              <h2 class="text-4xl font-bold text-gray-800 mb-4">Contact 📞...</h2>
              {% if messages %}
                {% for message in messages %}
                <div role="alert" class="rounded-xl border border-gray-100 bg-white p-4">
                  <div class="flex items-start gap-4">
                    <span class="text-green-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                    </span>
                
                    <div class="flex flex-row">
                      <p class="mt-1 text-sm text-gray-700">{{message}}</p>
                    </div>

                  </div>
                </div>
                {% endfor %}
              {% endif %}
              <form class="space-y-4" method="POST" action="{% url "contact" %}">
                {% csrf_token %}
                <div>
                  <label for="name" class="block text-lg font-medium text-gray-700">Name</label>
                  <input name='name' type="text" id="name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:border-electric-violet-500 focus:bg-electric-violet-100">
                </div>
                <div>
                  <label for="email" class="block text-lg font-medium text-gray-700">Email</label>
                  <input name='email' type="email" id="email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:border-electric-violet-500 focus:bg-electric-violet-100">
                </div>
                <div>
                  <label for="subject" class="block text-lg font-medium text-gray-700">Subject</label>
                  <input name='subject' type="text" id="subject" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:border-electric-violet-500 focus:bg-electric-violet-100">
                </div>
                <div>
                  <label for="message" class="block text-lg font-medium text-gray-700">Message</label>
                  <textarea name='message' id="message" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:bg-electric-violet-100 focus:border-electric-violet-500"></textarea>
                </div>
                <button type="submit" class="px-6 py-2 bg-electric-violet-500 text-white font-bold rounded-md hover:bg-electric-violet-600">Send Message</button>
              </form>
              
            </div>
          </div>
        </section>
        
        
      
      
      </div>
    
  </div>
</div>   

{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{% static 'js/typed.js' %}"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static "js/scrollreveal.js" %}"></script>
{% endblock scripts %}