{% extends 'base.html' %} {% load static %} {% load tailwind_tags %} 
{% block title %} Daniel Rivera - Ripariav {% endblock %} 
{% block content %}
<div class="flex flex-col bg-slate-100 scroll-smooth">
<section id="about-me" class="py-16 ">
        <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12 lg:px-24">
          <!-- Descripción de "About Me" -->
          <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12">
            <h2 class="text-4xl font-bold text-gray-800 mb-4">About Me 🚀</h2>
            <p class="text-lg text-gray-600 leading-relaxed mb-6">
              Hello! I'm a passionate software developer with a strong background in data analysis and web development. I enjoy creating innovative solutions and continuously learning new technologies. I'm also skilled in applying statistical and machine learning techniques to solve complex problems.
            </p>
      
            <!-- Lista de habilidades y tecnologías -->
            <ul class="list-disc list-inside text-gray-600">
              <li>Experienced in Django for backend web development.</li>
              <li>Proficient with Tailwind CSS for responsive design.</li>
              <li>Skilled in R for statistical analysis and data visualization.</li>
              <li>Extensive knowledge of Python and libraries like TensorFlow and NumPy.</li>
              <li>Strong foundation in data analysis and machine learning techniques.</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Experience Section -->
<section id="experience" class="py-16 ">
        <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12 lg:px-24">
          <!-- Contenido de "Experience" -->
          <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12">
            <h2 class="text-4xl font-bold text-gray-800 mb-4">Experience 🌟</h2>
            <div class="space-y-6">
              <div>
                <h3 class="text-2xl font-semibold text-gray-800">Software Developer at XYZ Company</h3>
                <p class="text-gray-600 mb-2">January 2020 - Present</p>
                <p class="text-lg text-gray-600 leading-relaxed">
                  Developed and maintained web applications using Django and React. Collaborated with cross-functional teams to deliver high-quality software solutions.
                </p>
              </div>
              <div>
                <h3 class="text-2xl font-semibold text-gray-800">Data Analyst at ABC Inc.</h3>
                <p class="text-gray-600 mb-2">June 2018 - December 2019</p>
                <p class="text-lg text-gray-600 leading-relaxed">
                  Conducted data analysis and visualization using R and Python. Improved data processing efficiency by 30% through automation.
                </p>
              </div>
            </div>
          </div>
        </div>
    </section>

<section id="projects" class="py-16 bg-slate-100">
      <div class="container mx-auto px-6 md:px-12 lg:px-24">
        <h2 class="text-4xl font-bold text-gray-800 mb-12 text-center">Projects 💡</h2>
        <div class="relative grid grid-cols-2 gap-6 md:gap-8">
          <!-- Project 1 -->
          <div class="project-card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Project 1</h3>
            <p class="text-gray-600">Brief description of Project 1 goes here. Add more details about the project to explain what it entails.</p>
          </div>
    
          <!-- Project 2 -->
          <div class="project-card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Project 2</h3>
            <p class="text-gray-600">Brief description of Project 2 goes here. Add more details about the project to explain what it entails.</p>
          </div>
    
          <!-- Project 3 -->
          <div class="project-card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Project 3</h3>
            <p class="text-gray-600">Brief description of Project 3 goes here. Add more details about the project to explain what it entails.</p>
          </div>
    
          <!-- Project 4 -->
          <div class="project-card bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Project 4</h3>
            <p class="text-gray-600">Brief description of Project 4 goes here. Add more details about the project to explain what it entails.</p>
          </div>
    
          <!-- Gradient border for the cross effect -->
          <div class="absolute inset-0 grid grid-cols-2 gap-6 md:gap-8 pointer-events-none">
            <!-- Top-left corner -->
            <div class="bg-gradient-to-r from-transparent via-[rgba(0,0,0,0.1)] to-transparent"></div>
            <!-- Top-right corner -->
            <div class="bg-gradient-to-l from-transparent via-[rgba(0,0,0,0.1)] to-transparent"></div>
            <!-- Bottom-left corner -->
            <div class="bg-gradient-to-r from-transparent via-[rgba(0,0,0,0.1)] to-transparent"></div>
            <!-- Bottom-right corner -->
            <div class="bg-gradient-to-l from-transparent via-[rgba(0,0,0,0.1)] to-transparent"></div>
          </div>
        </div>
      </div>
    </section>

      <!-- Education Section -->

<section id="education" class="py-16 ">
        <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12 lg:px-24">
          <!-- Contenido de "Education" -->
          <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12">
            <h2 class="text-4xl font-bold text-gray-800 mb-4">Education 🎓</h2>
            <div class="space-y-6">
              <div>
                <h3 class="text-2xl font-semibold text-gray-800">Bachelor's Degree in Industrial Engineering</h3>
                <p class="text-gray-600 mb-2">University Santo Tomás, 2014 - 2018</p>
                <p class="text-lg text-gray-600 leading-relaxed">
                  Specialized in operations research, quality control, and data analysis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

<section id="blog" class="py-16 bg-slate-100">
        <div class="container mx-auto px-6 md:px-12 lg:px-24">
          <h2 class="text-4xl font-bold text-gray-800 mb-12 text-center">Blog 🗒️</h2>
          
          <!-- Contenedor de Posts del Blog -->
          <div class="flex flex-row flex-wrap justify-center gap-6">
            <!-- Post 1 -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full sm:w-1/2 lg:w-1/4 flex flex-col">
              <h3 class="text-2xl font-semibold text-gray-800 mb-4">Post 1</h3>
              <p class="text-gray-600 mb-6">This is a brief description of the first post. It gives a quick overview of the content covered in the post.</p>
              <a href="#" class="mt-auto text-indigo-600 hover:underline">Read more</a>
            </div>
      
            <!-- Post 2 -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full sm:w-1/2 lg:w-1/4 flex flex-col">
              <h3 class="text-2xl font-semibold text-gray-800 mb-4">Post 2</h3>
              <p class="text-gray-600 mb-6">A short summary of the second blog post. Highlight the key points or takeaways from the post here.</p>
              <a href="#" class="mt-auto text-indigo-600 hover:underline">Read more</a>
            </div>
      
            <!-- Post 3 -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md w-full sm:w-1/2 lg:w-1/4 flex flex-col">
              <h3 class="text-2xl font-semibold text-gray-800 mb-4">Post 3</h3>
              <p class="text-gray-600 mb-6">An introduction to the third post's topic. Give readers an idea of what they can expect to learn.</p>
              <a href="#" class="mt-auto text-indigo-600 hover:underline">Read more</a>
            </div>
    
          </div>
      
          <!-- Enlace para Ver Más Posts -->
          <div class="mt-12 text-center">
            <a href="#" class="text-indigo-600 text-lg font-semibold hover:underline">View more posts</a>
          </div>
        </div>
      </section>
      
      
  
  <!-- Contact Section -->

<section id="contact" class="py-16">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-6 md:px-12 lg:px-24">
      <!-- Contenido de "Contact" -->
      <div class="w-full md:w-2/3 lg:w-3/4 md:pl-12">
        <h2 class="text-4xl font-bold text-gray-800 mb-4">Contact 📞...</h2>
        <form class="space-y-6">
          <div>
            <label for="name" class="block text-lg font-medium text-gray-700">Name</label>
            <input type="text" id="name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:border-electric-violet-500 focus:bg-electric-violet-100">
          </div>
          <div>
            <label for="email" class="block text-lg font-medium text-gray-700">Email</label>
            <input type="email" id="email" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:border-electric-violet-500 focus:bg-electric-violet-100">
          </div>
          <div>
            <label for="message" class="block text-lg font-medium text-gray-700">Message</label>
            <textarea id="message" rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-electric-violet-500 focus:bg-electric-violet-100 focus:border-electric-violet-500"></textarea>
          </div>
          <button type="submit" class="px-6 py-2 bg-electric-violet-500 text-white font-bold rounded-md hover:bg-electric-violet-600">Send Message</button>
        </form>
      </div>
    </div>
  </section>
  
  


</div>

{% endblock %}


{% block scripts %}
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{% static 'js/typed.js' %}"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="{% static "js/scrollreveal.js" %}"></script>
{% endblock scripts %}